$bg-color: #f6f6f6;
$font-color: #00011b;
$primary: #0049cc;

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: "Geist", sans-serif;
}

main {
  min-height: 100vh;
}

.no-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}
