@use "base" as *;

header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .nav-list {
    display: none;
    flex-direction: column;
  }

  nav.open .nav-list {
    display: flex;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    min-height: 100vh;
  }

  .hamburger-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 0.25rem;
    div {
      height: 0.75rem;
      width: 0.75rem;
      border: 2px solid $font-color;
    }
  }
}

@media (min-width: 768px) {
  header {
    .hamburger-container {
      display: none;
    }

    .nav-list {
      display: flex;
      flex-direction: row;
      background-color: red;

      position: static;
    }
  }
}
