@use "base" as *;

#home {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);

  padding: 0 1rem;

  .main-title {
    grid-column: 1/ 5;
    grid-row: 3/4;
    align-self: center;
    h1 {
      line-height: 0.9;
      font-weight: 100;
      font-size: clamp(2.5rem, 4vw, 5rem);
      text-transform: uppercase;
    }
    span {
      display: flex;
      align-items: baseline;
      font-weight: 900;
      font-size: clamp(3.5rem, 7vw, 13.5rem);
      width: max-content;
      gap: 0.5rem;

      .blob {
        height: clamp(20px, 2vw, 3rem);
        width: clamp(20px, 2vw, 3rem);
        border-radius: 100%;
        background-color: $primary;
      }
    }
  }

  .brand-title {
    color: $primary;
    grid-column: 6;
    grid-row: 2;

    justify-self: end;
    align-self: end;
    line-height: 1;
    font-weight: 100;
    font-size: clamp(2.1875rem, 5vw, 10rem);

    writing-mode: sideways-lr;
    height: 100px;
    width: max-content;
  }

  .slogan {
    grid-column: 1/ 6;
    padding-left: 0.5rem;
    font-size: $font-size;
    text-transform: lowercase;
  }
}

@media (min-width: 48em) {
  #home {
    padding: 0 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-height: 100dvh;

    g {
      fill: $primary;
    }

    .main-title {
      grid-row: 4/5;
    }

    .brand-title {
      grid-column: 12;
      grid-row: 7;

      justify-self: end;
      align-self: end;
    }

    .slogan {
      margin-top: -1rem;
    }

    .scroll-icon {
      height: 100%;
      grid-row: 7;
    }
  }
}
